name: Release
on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Create ZIP (sans .venv)
        run: zip -r MiniOS_${{ github.ref_name }}.zip ./ -x "*.venv/*" -x "*.git*" -x "*.idea*"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: MiniOS_${{ github.ref_name }}.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}